* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'PT Serif', serif;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
}

:root {
  --accent-color: #C62314;
  --text: #130E27;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.section__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: var(--text);
  text-transform: uppercase;
}
/* header */
.header {
  padding: 40px 0 180px;
  background-image: url(../img/header/header_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.header__nav {
  display: flex;
  gap: 30px;
}
.header__nav-item {
  list-style-type: none;
}
.header__nav-link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif; 
  font-weight: 500;
  font-size: 18px;
  padding: 7px;
}
.header__nav-link:hover {
  background-color: var(--text);
  padding: 7px;
  border-radius: 5px;
  transition: .5s ease;
}
.header__bottom {
  color: #fff;
}
.header__bottom-title {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 90px;
  margin-bottom: 50px;
}
.header__bottom-title span {
  color: var(--text);
}
.header__bottom-text {
  font-size: 20px;
  width: 494px;
}
/* services */
.services {
  padding: 50px 70px;
  background-color: #e5e5e5;
}
.services__title {
  margin-bottom: 80px;
}
.services__title span {
  color: var(--accent-color);
}
.services__content {
  display: flex;
  justify-content: space-between;
}
.services__item {
  width: 165px;
}
.services__item-icon {
  margin: 0 auto;
  margin-bottom: 30px;
  display:block;
  height: 160px;
}
.services__item-text {
  text-align: center;
}
/* cta */
.cta {
  padding: 34px 0;
  background-color: var(--text);
  color: #fff;
}
.cta__content {
  display: flex;
  justify-content: space-between;
}
.cta__text {
  font-size: 20px;
  width: 631px;
}
.cta__btn {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--accent-color);
  padding: 19px 68px;
  border-radius: 5px;
}
/* pricing */
.pricing {
  padding: 50px 70px;
  text-align: center;
  background-color: #efefef;
}
.pricing__title {
  margin-bottom: 50px;
}
.pricing__content {
  display: flex;
  justify-content: space-between;
}
.pricing__card {
  width: 340px;
  background-color: #fff;
  padding: 35px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pricing__card-tariff {
  font-size: 22px;
  margin-bottom: 40px;
}
.pricing__card-title {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  color: var(--accent-color);
  margin-bottom: 30px;
}
.pricin__card-text {
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 150px;
}
.pricing__btn {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  background-color: var(--text);
  padding: 11px 80px;
  font-family: 'Montserrat', sans-serif;
  min-width: 205px;
  border-radius: 5px;
}
.pricing__btn:hover {
  background-color: var(--accent-color);
  transition: .5s ease;
}
/* footer */
.footer {
  padding: 60px 0;
  background-color: var(--text);
  color: #fff;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__text {
  font-size: 20px;
}
.footer__text span {
  color: var(--accent-color);
}




